.header-wrapper{
    background-color: #e1e6eb;
    border-bottom: 1px solid rgba(30, 67, 88, 0.2);
    color: #333333;

    .left-side{
        .title{
            font-weight: 600;
            font-size: 16px;
            padding: 0 10px;
        }
    }
}
#menu-button{
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    opacity: 0;
}
@media screen and (max-width: 1000px) {
    #menu-button{
        position: static;
        opacity: 1;
        transition: opacity 0.3s linear;
    }
}