<div class="header-wrapper">
  <div class="left-side">
    <a id="menu-button"
      ><fa-icon
        [icon]="faBars"
        (click)="toggleMenu((this.status = !this.status))"
      ></fa-icon
    ></a>
    <label class="title">Angular interview</label>
  </div>
  <div class="right-side"></div>
</div>
