<p-table [value]="users">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Birthdate</th>
      <th>
        <p-button label="Új" (click)="showDialog()"></p-button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.birthdate | date }}</td>
      <td>
        <div class="ui-g">
          <div class="ui-g-6">
            <p-button
              label="Módosítás"
              (click)="showDialog(this.user.id)"
            ></p-button>
          </div>
          <div class="ui-g-6">
            <p-button
              label="Törlés"
              (click)="deleteUser(this.user.id)"
            ></p-button>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog
  header="Felhasználó adatai"
  [(visible)]="this.display"
  [modal]="false"
  [responsive]="true"
  [contentStyle]="{ overflow: 'visible', minWidth: '600px' }"
  [maximizable]="false"
  [baseZIndex]="100"
>
  <app-user-data-dialog [id]="this.id" [display]="this.display">
  </app-user-data-dialog>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="saveData(this.id)"
      label="Mentés"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-danger"
      (click)="cancelData()"
      label="Mégsem"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-dialog>
<p-toast></p-toast>
