<div class="ui-g">
  <div class="ui-g-6">Név</div>
  <div class="ui-g-4">
    <input type="text" pInputText [value]="localName" [(ngModel)]="localName" />
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-6">Email</div>
  <div class="ui-g-4">
    <input
      type="text"
      pInputText
      [value]="localEmail"
      [(ngModel)]="localEmail"
    />
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-6">Cím</div>
  <div class="ui-g-4">
    <input
      type="text"
      pInputText
      [value]="localAddress"
      [(ngModel)]="localAddress"
    />
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-6">Születési dátum</div>
  <div class="ui-g-4">
    <p-calendar
      dateFormat="M d, yy"
      [defaultDate]="this.localBirthday"
      value="this.birthday"
      [(ngModel)]="localBirthday"
    ></p-calendar>
  </div>
</div>
